APScheduler==3.6.3
decorator==5.0.9
dj-database-url==0.5.0
Django==3.1.1
django-heroku==0.3.1
djangorestframework==3.12.4
docopt==0.6.2
googleapis-common-protos==1.53.0
gTTS==2.2.2
gunicorn==20.1.0
jsonschema==2.6.0
msgpack==1.0.2
python-dateutil==2.8.1
regex==2021.4.4
requests==2.25.1
schedule==1.1.0
sqlparse==0.3.1
transforms==0.1
tzlocal==2.1
urllib3==1.25.9

