{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block body %}

<style>
    .crouselImg {
        width: 80vw;
        height: 40vw;
    }
    
    .crouselImg {
        width: 80%;
        height: 60%;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<br>

<img src="/static/banner.jpg" class="img-responsive img-fluid" alt="">
<!-- Crousel -->
<!-- https://source.unsplash.com/1600x600/?corona -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/10.jpg" class="d-block img-responsive crouselImg rounded" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/static/8.jpg" class="d-block img-responsive crouselImg rounded" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/static/7.jpg" class="d-block img-responsive crouselImg rounded" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/static/13.jpg" class="d-block img-responsive crouselImg rounded" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/static/12.jpg" class="d-block img-responsive crouselImg rounded" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div><br>


<!-- Live CoronaVirus Widget -->
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-a14da8ea-7d02-4dcd-8500-f9337089f17a"></div>

{% endblock body %}